.pages{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagesCont{
    margin-right: 1rem;
}


.link{
    text-decoration: none;
    color: black;
    padding: 0.3rem;
    margin: 0.2rem;
    border: 1px solid #ccc;
    max-height: 1.9rem;
}

.linkActive{
    text-decoration: none;
    color: black;
    padding: 0.3rem;
    margin: 0.2rem;
    border: 1px solid #ccc;
    background-color: rgba(235, 218, 197, 0.63);
}

.link:hover,
.link:active{
    background-color: rgba(235, 218, 197, 0.63);
}


.icon{
    padding-top: 0.08rem;
    padding-left: 0rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
}