.user{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.button{
    cursor: pointer;
    padding: 0.70rem 2rem;
    background-color: rgb(235, 218, 197);
    border: 1px solid rgb(235, 218, 197);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;


}

.buttonCont{
   display: flex;
   align-items: center;
}

.button:hover,
.button:active {
    background-color: rgba(235, 218, 197, 0.863);
    border-color: rgb(235, 218, 197);
}